.ContenedorUser{
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #444;
}

p {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}


.direccion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.direccion-item input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.direccion-item button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #e40101;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.direccion-item button:hover {
  background-color: #b3001e;
}

.direccion-item button:last-child {
  background-color: #00bbff;
}

.direccion-item button:last-child:hover {
  background-color: #0049a8;
}


.agregar-direccion {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.agregar-direccion input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.agregar-direccion button {
  padding: 0.5rem 1rem;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.agregar-direccion button:hover {
  background-color: #004d40;
}


.error {
  color: #d32f2f;
  background-color: #ffebee;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
}

.mensaje {
  color: #388e3c;
  background-color: #e8f5e9;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
}
  